<!DOCTYPE html>
<html>
  <head>
    <title>Battle Royale Simulator</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p1> Choose room dimensions: </p1>
    <form method="POST">
      <input name="width" placeholder="width" />
      <input name="height" placeholder="height" />
      <input name="danger" placeholder="# of danger zones" />
      <input name="weapon" placeholder="# of weapons" />
      <input name="heal" placeholder="# of heal zones" />
      <input type="submit" />
    </form>
  </body>
</html>
